<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021. All rights reserved.
  ~ @author: Volodymyr Hryvinskyi <mailto:volodymyr@hryvinskyi.com>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hryvinskyi_seo">
            <resource>Hryvinskyi_Seo::config_seo_canonical</resource>
            <group id="canonical" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                <label>Meta Canonical</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Add Canonical URL Meta Header</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="canonical_ignore_url" translate="label" type="textarea" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Don't use canonical URLs on pages</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="canonical_store_without_store_code" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Canonical to store without store code</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Use only if "Configuration->GENERAL->Web->Add Store Code to Urls" is enabled</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="crossdomain" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Cross Domain Canonical URL</label>
                    <source_model>Hryvinskyi\SeoCanonicalAdminUi\Model\Config\Source\CrossDomain</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="canonical_store_without_store_code">0</field>
                    </depends>
                </field>
                <field id="crossdomain_prefer_https" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Prefer https for Cross Domain Canonical URL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="canonical_store_without_store_code">0</field>
                    </depends>
                </field>
                <field id="paginated_canonical" translate="label" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Add '?p=' to paginated content</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="10000" showInDefault="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
